.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}
.formControl.error span {
    color: red;
    font-weight: bold;
}
.formSummaryError {
    border: 1px solid white;
    padding: 5px;
    color: white;
}